<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Progama" value="Programa"/>
  </appSettings>
  <connectionStrings>
    <add name="conexaoPadrao" connectionString="Data Source = localhost\SQLEXPRESS; Initial Catalog = AppPdv; User id = sa; password = aluno;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>